@media (min-width:992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce020"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce02b"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce036"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce041"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="82809f7d-8cdc-1507-70d2-292b5fc63887"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="82809f7d-8cdc-1507-70d2-292b5fc63889"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3ccacdab-29cf-f8b8-4022-06d54f359825"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3ccacdab-29cf-f8b8-4022-06d54f359827"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3ccacdab-29cf-f8b8-4022-06d54f359830"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3ccacdab-29cf-f8b8-4022-06d54f35983a"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3ccacdab-29cf-f8b8-4022-06d54f35983c"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3ccacdab-29cf-f8b8-4022-06d54f359841"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88f5"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88f9"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88f7"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88ff"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88fb"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88fd"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="cff4d12b-7052-bf40-f6aa-8847d6091377"] {
    -webkit-transform: translate3d(500%, 190%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(500%, 190%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(500%, 190%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(500%, 190%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9aaeb03a-b708-da7e-f84c-26b96338e092"] {
    -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8919"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d890b"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8910"] {
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8924"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8926"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8928"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d892a"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d892c"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d892e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce00e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce014"] {
    width: 92px;
    height: 92px;
    opacity: 1;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="f9240556-7b0b-61f0-ee7e-b809e1e3a978"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="d9b4f372-97fb-ae68-9568-4426a5c29325"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="d9b4f372-97fb-ae68-9568-4426a5c29327"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="d9b4f372-97fb-ae68-9568-4426a5c29329"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="ff446b67-3d95-ce11-8ed7-744eab97ef09"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="82809f7d-8cdc-1507-70d2-292b5fc63881"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="82809f7d-8cdc-1507-70d2-292b5fc63884"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fe1635b8-4da8-a60f-31e9-93113977eeb6"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bf30d809-3ade-9a4c-79d2-c3ef564f247f"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bf30d809-3ade-9a4c-79d2-c3ef564f24be"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bf30d809-3ade-9a4c-79d2-c3ef564f2501"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="82809f7d-8cdc-1507-70d2-292b5fc638af"] {
    -webkit-transform: translate3d(0, -40%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -40%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -40%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -40%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88ef"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d88f2"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8908"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="09c13576-7686-3586-27d9-9769e52d8922"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce00c"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce016"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce021"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce02c"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e82861f-460b-749e-2cb1-8ee72efce037"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c62b"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c62e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c636"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c63e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c646"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c64e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="9c7096f4-d625-245b-99b6-09bbb681c656"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="f9240556-7b0b-61f0-ee7e-b809e1e3a976"] {
    opacity: 0;
  }
}